{% extends "poll/base.html" %}
{%load static%}

{% block title %}Dashboard{% endblock %}


{% block content %}
<div class="jumbotron" style="background-image: url('{% static 'ovs2.jpg' %}'); background-size: 100% 100%; padding-bottom: 30%">


  <h2 style="color: White">Hi, {{request.user.get_full_name }}</h2>
  <h3><a href="{% url 'position' %}" class="btn btn-info">Press Here To Vote</a></h3>
  <h3><a href="{% url 'result' %}"class="btn btn-info">Press Here To See Result</a></h3>
{% endblock %}
</div>
